<nav>
    <NavLink href="/" title="Home" class="brand"><img src="/resona.png" width="40" height="40" /></NavLink>
    <NavLink href="/library/Audiobook">Audiobooks</NavLink>
    <NavLink href="/library/Music">Music</NavLink>
    <NavLink href="/library/Sleep">Sleep</NavLink>
</nav>

@code {

}
