<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Resona.UI.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Resona.UI.Settings>
            <setting name="MusicFolder" serializeAs="String">
                <value>/home/pi/music</value>
            </setting>
            <setting name="AudiobooksFolder" serializeAs="String">
                <value>/home/pi/audiobooks</value>
            </setting>
            <setting name="SleepFolder" serializeAs="String">
                <value>/home/pi/sleep</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>Debug</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value>/home/pi/logs/resona.log</value>
            </setting>
        </Resona.UI.Settings>
    </applicationSettings>
</configuration>