@page "/library/{Kind}"
@using Resona.Services.Libraries

<PageTitle>@Kind</PageTitle>

<main class="library">
    @if (this.AudioContent != null)
    {
        @foreach (var audioContent in this.AudioContent)
        {
            <div class="audio">
                <img loading="lazy"
                     class="img"
                     title=@($"Album art for {audioContent.Name}")
                     width="50"
                     height="50"
                     src=@($"/api/library/{audioContent.Id}/image") />

                <p>@audioContent.Name</p>
            </div>
        }
    }
</main>

<footer class="library">
    <NavLink class="footer-button" href=@($"/library/{Kind}/add")>➕ New</NavLink>
</footer>

@code {
    [Parameter]
    public string Kind { get; set; } = null!;

    [Inject]
    public IAudioRepository AudioRepository { get; set; } = null!;

    private IReadOnlyList<AudioContentSummary>? AudioContent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var kind = Enum.Parse<AudioKind>(this.Kind);
        this.AudioContent = await this.AudioRepository.GetAllAsync(kind, default);
    }
}
